# Python
__pycache__/
*.py[cod]
*$py.class
*.spec

# Environments
.env
.venv
.venv-build
env/
venv/
ENV/
env.bak/
venv.bak/

# Build artifacts
build/
dist/
*.egg-info/
.eggs/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
realesrgan/
*.log
*.tmp
